<%- include('../partial/style.ejs') %>
    <div class="singup">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="singupimg">
                        <img src="/Images/back.webp" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <form method="post" action="/auth/passwordforget">
                        <h3>Forget your Password </h3>
                        <div class="form-group">
                            <input type="email" name="Email" class="form-control" placeholder="Enter Your Email Id."
                                required>
                        </div>
                        <button type="submit" class="btn">Generate OTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partial/script.ejs') %>