<%- include('../partial/style.ejs') %>
    <div class="singup">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="singupimg">
                        <img src="/Images/back.webp" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <form action="/auth/OTP-Verify-forget-password" method="post">
                        <h3>Forget your Password </h3>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" value="<%= userData.Email %>"
                                readonly>
                        </div>
                        <div class="form-group">
                            <div class="otpgenerate">
                                <input type="text" name="OTP" class="form-control" placeholder="Enter OTP">
                            </div>
                        </div>
                        <button type="submit" class="btn">Verify OTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partial/script.ejs') %>