<%- include('../partial/style.ejs') %>
    <div class="singup">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="singupimg">
                        <img src="/Images/back.webp" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <form method="post" action="/auth/UpdatePassword">
                        <h3>Forget your Password </h3>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" value="<%= data.email %>" required
                                readonly>
                        </div>
                        <div class="form-group">
                            <div class="otpgenerate">
                                <input type="text" name="OTP" class="form-control" value="<%= data.OTP %>" required
                                    readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" name="Password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" name="ConfirmPassword" class="form-control"
                                placeholder="Confirm Password">
                        </div>
                        <button type="submit" class="btn">Save Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partial/script.ejs') %>