<!-- Footer Include -->
<%- include('../partial/header.ejs') %>

    <!-- Contain Body -->
    <div class="container">
        <div class="row">
            <div class="formbox">
                <h2>Student Registration Form</h2>


            </div>
        </div>
    </div>


    <%- include('../partial/footer.ejs') %>