<!-- Footer -->

</div>

<footer>
    <div class="container">
        <div class="row">
            <p>Copyright 2022 © Bittu Shah All rights reserved.</p>
        </div>
    </div>
</footer>
</div>
</div>

<%- include('./script.ejs') %>