<!-- Script File -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>

<!-- Move Item List js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script src="https://dbushell.github.io/Nestable/jquery.nestable.js"></script>

<!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/i6wvhx6t49o27skkkl80b3qo21n9v9d8zg9306t7pvnuawut/tinymce/7/tinymce.min.js"
    referrerpolicy="origin"></script>

<!-- Media Ssets-->
<script src="/assets/js/main.js"></script>

<!-- Other js -->
<script src="/js/menu.js"></script>
<script src="/js/main.js"></script>

</body>

</html>