<!--  Side Navbar -->
<div class="sitenav">
    <!-- Logo -->
    <div class="logo">
        <a href="#">
            <img src="/Images/logo.png" alt="">
        </a>
    </div>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <!--  <li class="dropnav"><a href="#">Access control <span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/access-control/assign-roles">Assign roles</a></li>
                    <li><a href="/access-control/add-assign-roles">Add Assign roles</a></li>
                    <li><a href="/access-control/permissions">Permissions</a></li>
                    <li><a href="/access-control/add-permissions">Add Permissions</a></li>
                </ul>
            </li>-->
            <li class="dropnav"><a href="#">Blog <span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/blogs/post">Post</a></li>
                    <li><a href="/blogs/add-post">Add Post</a></li>
                </ul>
            </li>
            <li class="dropnav"><a href="#">Collaborators <span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/Collaborators/user">User</a></li>
                    <li><a href="/Collaborators/add-user">Add User</a></li>
                </ul>
            </li>
            <!--<li class="dropnav"><a href="#">Developer Settings<span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/developer-settings/form">form</a></li>
                </ul>
            </li>-->
            <li class="dropnav"><a href="#">HR <span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/hr/department">Department</a></li>
                    <li><a href="/hr/add-department">Add Department</a></li>
                    <li><a href="/hr/Job-profile">Job Profile</a></li>
                    <li><a href="/hr/add-Job-profile">Add Job Profile</a></li>
                </ul>
            </li>
            <li class="dropnav"><a href="#">Pages<span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/page/">Pages</a></li>
                    <li><a href="/page/add-page">Add Pages</a></li>
                </ul>
            </li>
            <!--<li class="dropnav"><a href="#">Media<span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/media/library">Library</a></li>
                    <li><a href="/media/add-library">Add Media Library</a></li>
                </ul>
            </li>

            <li class="dropnav"><a href="#">Navigation<span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/navigation/menu">Menu</a></li>
                    <li><a href="/navigation/create-menu">Add Menu</a></li>
                </ul>
            </li>-->
            <li class="dropnav"><a href="#">Profile<span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/Profile/your-profile">Your Profile</a></li>
                    <li><a href="/Profile/edit-profile">Edit Profile</a></li>
                </ul>
            </li>
            <li class="dropnav"><a href="#">Shortener <span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/shortener/">URL Shortener</a></li>
                    <li><a href="/shortener/url-list">URL List</a></li>
                    <li><a href="/shortener/visiter">URL Visiter</a></li>
                </ul>
            </li>
            <li class="dropnav"><a href="#">SEO Tool <span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/seo-tool/">Meta Tag</a></li>
                    <li><a href="/seo-tool/add-meta-tag">Add Meta Tag</a></li>
                </ul>
            </li>
            <li class="dropnav"><a href="#">Log<span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/log/site">Site</a></li>
                    <li><a href="/log/crm/">CRM</a></li>
                    <li><a href="/log/utm/">UTM</a></li>
                </ul>
            </li>
            <li class="dropnav"><a href="#">Leads<span><i class="fa-solid fa-angle-down"></i></span></a>
                <ul>
                    <li><a href="/leads/user">Leads</a></li>
                    <li><a href="/leads/assign">Assign</a></li>
                    <li><a href="/leads/calling">Calling</a></li>
                    <li><a href="/leads/feedback">Feedback</a></li>
                    <li><a href="/leads/close-leads">Close Leads</a></li>
                </ul>
            </li>
            <li><a href="#">WhatsApp Msg</a></li>
        </ul>
    </nav>
</div>